#sign-up-form {;

	max-width: 40%;
	background-color: #CCC;
	padding: 5%;
	margin-left: 30%;
	border-radius: 5%;
	margin-top: 10%;
}

#sign-up-form h2{
	text-align: center;
	margin-bottom: 1em;
	padding: 0;
}

#sign-up-form .alert-success{
	font-size: 10px;
}