<form id="sign-up-form" method="POST" accept-charset="utf-8">
	<h2>Find a Brand or Clothing type - Result</h2>
	<!-- <input type="text" name="busqueda" value="" placeholder="enter here that you want find" class="form-control">
	<input type="submit" value="Search" class="btn btn-success btn-lg"> -->
	<p>
		<% result.forEach(function (element){ %>
			<% if(element.style_text == "bold") { %>
			<strong><%= element.word %> </strong>
			<% } if(element.style_text == "italic") { %>
			<i><%= element.word %> </i> 
			<% }if(element.style_text == "") { %>
			<%= element.word %>
		<% }}); %>
	</p>
</form>			