<form id="sign-up-form" action="clothes/find" method="POST" accept-charset="utf-8">
	<h2>Find a Brand or Clothing type</h2>
	<input type="text" name="termSearch" value="" placeholder="enter here that you want find" class="form-control">
	<input type="submit" value="Search" class="btn btn-success btn-lg">
</form>			