<form id="sign-up-form" action="create" method="POST" accept-charset="utf-8">
	<h2>Enter a New Brand or Clothing type</h2>
	<input type="text" name="brand" value="" placeholder="Enter here a new Brand" class="form-control">
	<input type="text" name="clothes_type" value="" placeholder="Enter here a new Clothes Type" class="form-control">
	<input type="submit" value="Save" class="btn btn-success btn-lg">
</form>			